[mysqld]
port=3306
log_error=mariadb.err

# Persistent storage location
datadir=/tmp/databases
tmpdir=/tmp/databases

# Use a proper collation set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Do not resolve DNS names
skip-name-resolve

# Tune for low-end devices (Like a Raspberry Pi)
key_buffer_size = 64K
max_connections = 64
myisam_recover_options = OFF
myisam_sort_buffer_size = 1M
myisam_max_sort_file_size = 4M
net_buffer_length = 16K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
sort_buffer_size = 512K
join_buffer_size = 128K
table_open_cache = 64
thread_cache_size = 8
thread_stack = 192K
tmp_table_size = 16M
max_binlog_size = 1M

# Disable query cache
query_cache_limit = 1M
query_cache_size = 0M
query_cache_type = OFF

# Storage engines
default_storage_engine = InnoDB
ignore_builtin_innodb = OFF

# InnoDB Tweaks
innodb_buffer_pool_size = 5M
innodb_log_buffer_size = 256K
innodb_log_file_size = 4M
innodb_doublewrite = OFF
innodb_change_buffering = none
innodb_file_per_table = ON
innodb_undo_log_truncate = ON
innodb_page_size = 4096
innodb_max_undo_log_size = 10485760
innodb_autoextend_increment = 1
innodb_undo_tablespaces = 2
innodb_purge_rseg_truncate_frequency = 1
innodb_flush_method = fsync

# Aria Tweaks
aria_log_file_size = 8M
aria_page_checksum = OFF
aria_pagecache_buffer_size = 16M
