[mysqld]
port=3306
log_error=mariadb.err

# Persistent storage location
datadir=/tmp/databases
tmpdir=/tmp/databases

# Use a proper collation set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Do not resolve DNS names
skip-name-resolve

# Tune for low-end devices (Like a Raspberry Pi)
key_buffer_size = 64K
max_connections = 64
myisam_recover_options = FORCE
myisam_sort_buffer_size = 8M
net_buffer_length = 16K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
sort_buffer_size = 512K
join_buffer_size = 128K
table_open_cache = 64
thread_cache_size = 8
thread_stack = 192K
tmp_table_size = 16M
max_binlog_size = 1M

# Disable query cache
query_cache_limit = 1M
query_cache_size = 0M
query_cache_type = 0

# Aria Tweaks
default_storage_engine = Aria
ignore_builtin_innodb = ON
aria_log_file_size = 8M
aria_page_checksum = OFF
aria_pagecache_buffer_size = 16M
